<div class="container h-100" appDragAndDrop (fileDropped)="onFileDropped($event)">
  <div class="row justify-content-center h-100">
    <div class="col pt-1 h-100 w-100" >
      <div [@slideInOut]="isEdit ? 'in' : 'out'">
        <input type="file" class="file-input"
       [accept]="'.jpg'"
       (change)="onFileSelected($event)" #fileUpload>

      </div>

      <div class="row" *ngIf="albumInfo.synopsis">
        <div class="col-12 w-100">
          <mat-card class="example-card w-100">
            <mat-card-content>
              <p *ngIf="!isEdit">
                {{ albumInfo.synopsis }}
              </p>
              <mat-form-field appearance="fill" class="mt-4" *ngIf="isEdit">
                <mat-label>Photo album synopsis</mat-label>
                <textarea matInput [(ngModel)]="editAlbumInfo.synopsis" [maxlength]="maxSynopsisLength"></textarea>
                <mat-hint align="end">{{editAlbumInfo.synopsis?.length || 0}}/{{ maxSynopsisLength }}</mat-hint>
              </mat-form-field>
            </mat-card-content>
          </mat-card>
        </div>
      </div>



      <div class="fab-btn" *ngIf="canEdit">
        <div class="col">

          <div class="row mb-4">
            <div class="col">
              <button mat-fab *ngIf="isEdit" color="success" class="md-primary md-fab-bottom-right" (click)="add()">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col">
              <button mat-fab *ngIf="isEdit" color="primary" class="md-primary md-fab-bottom-right" (click)="save()">
                <mat-icon>save</mat-icon>
              </button>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <button mat-fab [color]="isEdit ? 'warn' : 'primary'" class="md-primary md-fab-bottom-right"
                (click)="toggleEdit()">
                <mat-icon *ngIf="!isEdit">edit</mat-icon>
                <mat-icon *ngIf="isEdit">cancel</mat-icon>
              </button>
            </div>
          </div>

        </div>
      </div>

      <div class="col mh-100" *appHeader>
        <p *ngIf="!isEdit" class="my-auto">
          {{ albumInfo.title }}
        </p>
        <mat-form-field appearance="fill" class="my-0 py-0 mh-100" *ngIf="isEdit">
          <mat-label>Photo album synopsis</mat-label>
          <input matInput [(ngModel)]="editAlbumInfo.title" [maxlength]="maxTitleLength" required="true" type="text" />
          <mat-hint align="end">{{editAlbumInfo.title?.length || 0}}/{{ maxTitleLength }}</mat-hint>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
