/* You can add global styles to this file, and also import other style files */
// @import "~bootstrap/dist/css/bootstrap.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.fab-btn {
  top: auto !important;
  right: 20px !important;
  bottom: 10px !important;
  left: auto !important;
  position: fixed !important;
}

.mat-drawer-inner-container{
  border-right: 1px solid black;
}

.dark-theme .mat-drawer-side {
  border-right: none;
}

.light-theme .mat-drawer-inner-container{
  background-color: #9aa1a7;
}
