.sidenav-item {
  &.selected {
    background: #009276;
    color: #62f8d6;
  }

  &:hover {
    background: #009276 !important;
    color: white;
  }

  &:first{
    border-top: 1px solid black;
  }

  border-bottom: 1px solid black;
  color: white !important;
}
