@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu @ref="NavMenu" />
</div>

<div class="main">
    <div class="top-navbar">
       <Icon Name="IconName.Dashboard" Margin="Margin.Is3.FromRight" @onclick="() => NavMenu.ToggleSidebar()" />
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
