@using Providers;

<Sidebar @ref="sidebar">
    <SidebarContent>
        <SidebarBrand>
            <a href="/">@AppNameProvider.AppName</a>
        </SidebarBrand>
        <SidebarNavigation>
            <SidebarItem>
                <SidebarLink To="" Title="Home">
                    @*<Icon Name="IconName." Margin="Margin.Is3.FromRight" />*@
                    Home
                </SidebarLink>
            </SidebarItem>
            <SidebarItem>
                <SidebarLink To="@Pic.Settings.Pages.Albums.ListComponent.Path" Title="Albums" Match="Match.Prefix">
                    <Icon Name="IconName.Palette" Margin="Margin.Is3.FromRight" />Albums
                </SidebarLink>
            </SidebarItem>
            <SidebarItem>
                <SidebarLink To="@Pic.Settings.Pages.Users.ListComponent.Path" Title="Users" Match="Match.Prefix">
                    <Icon Name="IconName.Person" Margin="Margin.Is3.FromRight" />Users
                </SidebarLink>
            </SidebarItem>
            <SidebarItem>
                <SidebarLink To="@Pic.Settings.Pages.Groups.ListComponent.Path" Title="Groups" Match="Match.Prefix">
                    <Icon Name="IconName.Mail" Margin="Margin.Is3.FromRight" />Groups
                </SidebarLink>
            </SidebarItem>
        </SidebarNavigation>
    </SidebarContent>
</Sidebar>
